{#page start#}
<div class="all-in-one-seo-content">
    <div class="fixed-left">
        {#wrapper start#}
        <div id="wrapper">
            {#include page header#}
            {% include '@CsSeoMegaBundlePack/Global/includes//header.twig' %} 
            {#include page sidebar#}
            {% include '@CsSeoMegaBundlePack/Global/includes//sidebar.twig' %} 
            {#content page start#}
            <div class="content-page">
                {#content div start#}
                <div class="content">
                    {#container div start#}
                    <div class="container">
                        {#page title start#}
                        {% include '@CsSeoMegaBundlePack/Global/includes//title.twig' %} 
                        {#page title end#}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-box">
                                        <div class=" btn-group" id="demo-delete-row">
                                            <button id="btn_delete" data-action="delete_fb_posts" class="btn btn-danger" disabled="disabled"><i class="fa fa-times m-r-5"></i>{{actn_delete_btn}}</button>
                                            <input type="hidden" name="_wpnonce" id="_wpnonce" value="{{nonce_field}}"/>
                                        </div>
                                        <table id="demo-custom-toolbar" data-toggle="table" data-toolbar="#demo-delete-row" data-search="true" 
                                                data-show-columns="true" data-sort-name="id"
                                               data-page-list="[10, 20, 30, 50]" data-page-size="10" data-pagination="true" data-show-pagination-switch="true" class="table-bordered">
                                            <thead>
                                                <tr >
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    {% for col_name in tbl_headers %}
                                                        <th data-field="{{ col_name }}" data-sortable="true" >{{ col_name }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in tbl_data_array %}
                                                    <tr id="item_id_{{data.fb_post_id}}">
                                                        <td><input  type="checkbox" value="{{data.fb_post_id}}"/></td>
                                                        <td>
                                                            <input type="hidden" value="{{data.fb_post_id}}" class="item_id"/>
                                                            <a href="{{post_edit_url}}{{data.post_id}}">{{data.post_title}}</a>
                                                            <div class="row-actions">
                                                                {#<span class="edit">
                                                                    <a href="{{post_edit_url}}{{data.post_id}}">{{label_span_edit}}</a>
                                                                </span>#}
                                                                <span class="view">
                                                                    <a href="{{facebook_url}}{{data.fb_post_id}}" target="_blank">{{label_span_view}}</a>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if data.fb_likes is empty %} 
                                                                -
                                                            {% else %}
                                                                {{data.fb_likes}}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if data.fb_shares is empty %} 
                                                                -
                                                            {% else %}
                                                                {{data.fb_shares}}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if data.fb_comments is empty %} 
                                                                -
                                                            {% else %}
                                                                {{data.fb_comments}}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{data.created_on |date("M d, Y h:i:s A")}}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        
                        {#main content start#}
                        
                        {#main content end#}
                    </div> {#container end#}
                </div> {#content end#}
                {#include footer#}
                {% include '@CsSeoMegaBundlePack/Global/includes//footer.twig' %} 
            </div> {#page content end#}
        </div> {#wrapper end#}
    </div>
</div> {#page end#}