{#page start#}
<div class="all-in-one-seo-content">
    <div class="fixed-left">
        {#wrapper start#}
        <div id="wrapper">
            {#include page header#}
            {% include '@CsSeoMegaBundlePack/BacklinkManager/common/header.twig' %} 
            {#include page sidebar#}
            {% include '@CsSeoMegaBundlePack/BacklinkManager/common/sidebar.twig' %} 
            {#content page start#}
            <div class="content-page">
                {#content div start#}
                <div class="content">
                    {#container div start#}
                    <div class="container">
                        {#page title start#}
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="page-title">{{page_title}}</h4>
                                <p class="text-muted page-title-alt">{{page_subtitle}}</p>
                                <input type="hidden" id="loading_gif" value="{{loading_gif}}"/> 
                            </div>
                        </div>
                        {#page title end#}
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-box">
                                        <div class="p-10 bg-inverse m-b-20 border-radius">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <p class="font-13 text-white">
                                                        <b>{{total_cost}}</b> ${{cost}}
                                                    </p>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="btn-group vertical-middle pull-right" data-toggle="buttons">
                                                        <div id="reportrange" class="form-control">
                                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                
                                        <div class="btn-group" id="demo-delete-row">
                                            <button id="btn_delete" data-type="delete_property_cost" data-action="CSdeleteCost" class="btn btn-danger" disabled="disabled"><i class="fa fa-times m-r-5"></i>{{actn_delete_btn}}</button>
                                        </div>
                                        <table id="demo-custom-toolbar" data-toggle="table" data-toolbar="#demo-delete-row" data-search="true" 
                                                data-show-columns="true" data-sort-name="id"
                                               data-page-list="[10, 20, 30, 50]" data-page-size="10" data-pagination="true" data-show-pagination-switch="true" class="table-bordered">
                                            <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    {% for col_name in tbl_headers %}
                                                        <th data-field="{{ col_name }}" data-sortable="true" >{{ col_name }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody id="backLinkCatList">
                                                {% for data in tbl_data_array %}
                                                    <tr id="item_id_{{data.cid}}">
                                                        <td><input  type="checkbox" value="{{data.cid}}"/></td>
                                                        <td>
                                                            <input type="hidden" value="{{data.cid}}" class="item_id"/>
                                                            <a href="{{manage_link_url}}&filter_cat={{data.item_id}}">{{data.group_name}}</a>
                                                        </td>
                                                        <td>
                                                            ${{data.price}}
                                                        </td>
                                                        <td>
                                                            {{data.note}}
                                                        </td>
                                                        <td>
                                                            {{data.created_on |date("M d, Y")}}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-box">
                                        <h4 class="m-t-0 header-title">{{add_new_cost_box_title}}</h4>
                                        <p></p>
                                        <form class="m-t-20" id="blc_cost" name="blc_cost" method="post" action="">
                                            {% if groups.0 is defined %}
                                            <div class="form-group">
                                                <label for="catname">{{label_group_name}}*</label>
                                                <select class="form-control" name="group_id" id="group_id">
                                                    <option value="0">====={{select_group}}=====</option>
                                                    {% for group in groups %}
                                                        <option value="{{group.id}}">{{group.group_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="catdes">{{label_cost}}($)*</label>
                                                <input class="form-control" name="input_cost"  id="input_cost" value="" autocomplete="off" type="number" placeholder="{{placeholder_cost}}" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="catdes">{{label_date}}*</label>
                                                <input type="text" class="form-control" name="input_date" placeholder="mm/dd/yyyy" id="input_date" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="catdes">{{label_description}}</label>
                                                <input class="form-control" name="input_description"  id="input_description" value="" autocomplete="off" type="text" placeholder="{{placeholder_description}}">
                                            </div>
                                            
                                            <input type="hidden" id="loading_gif" value="{{loading_gif}}"/> 
                                            <input type="hidden" name="_wpnonce" id="_wpnonce" value="{{nonce_field}}"/>
                                            <input type="hidden" name="action_type" id="action_type" value="1"/>
                                            <input type="hidden" name="action" id="action" value="CSaddBlcCost"/>
                                            <div class="form-group">
                                                <button class="btn btn-purple btn-create-blc-cat" type="submit" >{{label_submit_btn}}</button>
                                            </div>
                                            {% else %}
                                                <div class="alert alert-warning"><i class="fa fa-warning"></i> {{no_group_found}}
                                                </div>
                                                <a href="{{add_group_url}}" class="btn btn-primary">{{label_link_add_group}} <i class="fa fa-angle-double-right"></i><a>
                                            {% endif%}
                                        </form>
                                    </div>
                                </div>
                                                
                            </div>
                        
                        {#main content start#}
                        
                        {#main content end#}
                    </div> {#container end#}
                </div> {#content end#}
                {#include footer#}
                {% include '@CsSeoMegaBundlePack/BacklinkManager/common/footer.twig' %} 
            </div> {#page content end#}
        </div> {#wrapper end#}
    </div>
</div> {#page end#}