{#page start#}
<div class="all-in-one-seo-content">
    <div class="fixed-left">
        {#wrapper start#}
        <div id="wrapper">
            {#include page header#}
            {% include '@CsSeoMegaBundlePack/Global/includes/header.twig' %} 
            {#include page sidebar#}
            {% include '@CsSeoMegaBundlePack/Global/includes/sidebar.twig' %} 
            {#content page start#}
            <div class="content-page">
                {#content div start#}
                <div class="content">
                    {#container div start#}
                    <div class="container">
                        {#page title start#}
                        {% include '@CsSeoMegaBundlePack/Global/includes/title.twig' %} 
                        {#page title end#}
                        <div class="row">
                        <div id="google_lcoalseo" class="col-lg-12">
                        <form id="InternalAddNewRule" action="{{form_action}}" role='form' method='post' class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title font-13">
                                    {{panel_subtitle}}
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% if settings.browser_api_key is empty %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                      <strong><i class="fa fa-warning"></i> </strong> {{settings.auth_error_msg|raw}}
                                    </div>
                                {% endif %}
                                {% if settings.place_status is not empty %}
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                      <strong><i class="fa fa-check"></i> </strong> {{settings.place_status|raw}}
                                    </div>
                                {% endif %}
                                
                                {#include input fields#}
                                {% include '@CsSeoMegaBundlePack/Global/includes/input_fields.twig' %} 
                            </div>
                            <div class="panel-footer">
                                <input type="hidden" name="_wpnonce" id="_wpnonce" value="{{nonce_field}}"/>
                                <button class="btn btn-purple waves-effect waves-light btn-submit" {% if settings.browser_api_key is empty %}disabled{% endif%} type="submit">{{label_submit_btn}}</button>
                            </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        {#main content end#}
                    </div> {#container end#}
                </div> {#content end#}
                {#include footer#}
                {% include '@CsSeoMegaBundlePack/Global/includes/footer.twig' %} 
            </div> {#page content end#}
        </div> {#wrapper end#}
    </div>
</div> {#page end#}