{#page start#}
<div class="all-in-one-seo-content">
    <div class="fixed-left">
        {#wrapper start#}
        <div id="wrapper">
            {#include page header#}
            {% include '@CsSeoMegaBundlePack/Global/includes/header.twig' %} 
            {#include page sidebar#}
            {% include '@CsSeoMegaBundlePack/Global/includes/sidebar.twig' %} 
            {#content page start#}
            <div class="content-page">
                {#content div start#}
                <div class="content">
                    {#container div start#}
                    <div class="container">
                        {#page title start#}
                        {% include '@CsSeoMegaBundlePack/Global/includes/title.twig' %} 
                        {#page title end#}
                        {#main content start#}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                {% if aios_goo_app_token.auth_status is empty %}
                                <div class="alert alert-warning">
                                    <i class="fa fa-warning"></i> {{aios_goo_app_token.auth_error_msg|raw}}
                                </div>
                                {% else %}
                                    
                                {% if no_internet is not empty %}
                                    <div class="card-box">
                                      <div class="alert alert-warning"><i class="fa fa-warning"></i> {{no_internet}}</div>
                                    </div>
                                {% else %}
                                    
                                 {% if filter_title != '' %}
                                    <div class="p-10 bg-inverse m-b-20">
                                        <h4 class="header-title text-white"><b>
                                                {{filter_title|raw}}
                                            </b></h4>
                                        <p class="text-muted font-13">
                                            {{filter_subtitle|raw}}
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="btn-group" id="demo-delete-row">
                                    <input type="hidden" name="_wpnonce" id="_wpnonce" value="{{nonce_field}}"/>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">{{label_filter_cat}} <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            {% for category in categories %}
                                                <li><a href="{{CommonText.base_url}}&tab={{CommonText.current_tab}}&filter_cat={{category}}">{{category}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <button id="btn_delete" data-action="crawler_manage" class="btn btn-success" disabled="disabled"><i class="fa fa-check m-r-5"></i>{{actn_fix_btn}}</button>
                                </div>
                                   
                                <table id="demo-custom-toolbar" data-toggle="table" data-toolbar="#demo-delete-row" data-search="true" 
                                        data-show-columns="true" data-sort-name="id"
                                       data-page-list="[10, 20, 30, 50]" data-page-size="10" data-pagination="true" data-show-pagination-switch="true" class="table-bordered">
                                    <thead>
                                        <tr >
                                            <th data-field="state" data-checkbox="true"></th>
                                            {% for col_name in tbl_headers %}
                                                <th data-field="{{ col_name }}" data-sortable="true">{{ col_name }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in tbl_rows %}
                                            <tr id="item_id_{{row.id}}" >
                                                <td><input  type="checkbox" value="{{row.id}}"/></td>
                                                <td>
                                                    <input type="hidden" value="{{row.id}}" class="item_id"/>
                                                    <a href="{{site_url}}{{row.url}}" target="_blank">{{row.url}}</a>
                                                </td>
                                                <td>
                                                    {{row.error_type}}
                                                </td>
                                                <td>
                                                    {% for link in row.linked_from|split(',') %}
                                                        <a href="{{link}}" target="_blank">{{link}}</a><br>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {{row.first_seen|date("M d, Y")}}
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                                        
                                 {% if filter_title != '' %}
                                    <br><br>
                                    <a href="{{CommonText.base_url}}&tab={{CommonText.current_tab}}" class="btn btn-primary" ><i class="fa fa-angle-double-left"></i> {{label_back_to_btn}}</a>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                            </div>
                        </div>
                        
                        {#main content end#}
                    </div> {#container end#}
                </div> {#content end#}
                {#include footer#}
                {% include '@CsSeoMegaBundlePack/Global/includes/footer.twig' %} 
            </div> {#page content end#}
        </div> {#wrapper end#}
    </div>
</div> {#page end#}